# Dependencies
node_modules/

# Build output
dist/
build/
.next/

# Env
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
!.vscode/extensions.json
.idea/

# Test coverage
coverage/

# Prisma
backend/prisma/*.db
config.bat
